# ignore binary files
*
!/**/
!*.*
# ignore exe files and library files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# ignore go workspace files
go.work
# ignore jetbrains files
.idea/
*.sqlite
src/internal/database/*
